#canvas {
  border: 1px solid black;
  background-image: url('snakebg.jpg');
  background-color: aquamarine;
  font-family: monospace;
  margin: 0.6em;
}

#container {
  width: 100%;
  align-content: center;
  text-align: center;
}

#title {
  text-align: center;
  font-size: 5.5em;
  margin: 0.6em;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: black 0.1em 0.1em 0.2em;
  color: green;
}

body {
  background-image: url('bg.jpg');
  font-family: monospace;

}

#info {
  margin: 0.6em;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5);

}

#info p {
  padding: 0.5em;
  text-align: center;
  font-size: 2em;
  margin: 0.6em;
  color: rgb(28, 163, 28);

}