#title {
  text-align: center;
  font-size: 5.5em;
  margin-top: 0.6em;
  font-family: monospace;
}

* {
  font-family: monospace;
}

body {
  background-image: url("bg.jpg");
  background-repeat: no-repeat;

}

#gameContainer {
  width: 702px;
  height: 452px;
  margin: 0 auto;
  background-color: black;
  box-shadow: 0 0 1em rgb(255, 255, 255), 0 0 1em rgb(255, 255, 255);


}

#game {
  width: 700px;
  height: 450px;
  border: 1px solid black;
  position: relative;
}

#divider {
  width: 2px;
  height: 100%;
  background: white;
  position: absolute;
  left: 50%;
}

#circle {
  background-color: transparent;
  width: 200px;
  height: 200px;
  border: solid white;
  border-width: 2px;
  border-radius: 50%;
  position: relative;
  margin: auto;
  top: 65;
}

.paddle {
  width: 15px;
  height: 60px;
  background: white;
  position: absolute;
  border-radius: 6px;

}

#paddle-left {
  left: 20px;
}

#paddle-right {
  right: 20px;
}

#ball {
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  position: absolute;
}

#punctuation1 {
  color: white;
  margin-top: 0.2em;
  position: absolute;
  left: 40%;
  font-size: 50px;
  font-family: monospace;


}

#punctuation2 {
  margin-top: 0.2em;
  color: white;
  position: relative;
  left: 57%;
  font-size: 50px;
  font-family: monospace;
}

#win {
  border-radius: 5px;
  background-color: white;
  position: absolute;
  left: 39%;
  bottom: 67%;
  font-family: monospace;
  font-size: 70px;
  box-shadow: 0 0 0.25em rgb(255, 255, 255), 0 0 0.25em rgb(255, 255, 255);

}

#pause {
  border-radius: 5px;
  background-color: white;
  position: absolute;
  font-family: monospace;
  font-size: 70px;
  bottom: 40%;
  left: 33%;
}

#title {
  color: aliceblue;
  text-align: center;
  font-size: 5.5em;
  margin: 0.5em;
  font-family: monospace;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: -5px 0 black, 0 5px black,
    5px 0 black, 0 -5px black;
}

#info {
  padding: 1em;
  color: white;
  text-align: center;
  font-size: 1.5em;
  margin: 0.5em;
  margin-bottom: 2em;
  font-family: monospace;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5);
}