* {
  margin: 0;
  font-family: "Quantico", sans-serif;
  color: white;
  cursor: url(../img/pointer.png), auto;
  scroll-behavior: smooth;
  list-style: none;
}

.title {
  font-family: 'Orbitron', sans-serif;
  font-size: 2em;
  text-align: center;
  border: 0.13em solid transparent;
  border-radius: 0.7em;
  background: linear-gradient(to right, #0d0d0d, #0d0d0d) padding-box,
  linear-gradient(to right, #2AC9F9,  #733CFC, #FF18FF) border-box;
  width: 8em;
  margin: 1em auto;
  margin-top: 0;
}

body {
  background-color: rgb(13, 13, 13);
}
a { text-decoration: none; }

img {
  width: 100%;
  vertical-align: middle;
}

section {
  margin: 3em 2em;
  scroll-margin-top: 7em;
}  
section > div {
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
  background-color: rgba(30,30,30, 1);
  padding: 2em 5em;
  border-radius: 2em;

  border: 0.2em solid transparent;
  background: linear-gradient(to right, #0d0d0d, #0d0d0d) padding-box,
  linear-gradient(to right, #2AC9F9,  #733CFC, #FF18FF) border-box;
}
p {
  margin: 0.5em auto;
  font-size: 1.2em;
  max-width: 1500px;
  text-align: justify;
}

/******MENU******/
#menu {
  position: fixed;
  width: 100%;
  z-index: 1;
}

#menu>i { display: none; }

#menu>ul {
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  padding: 0;
  height: 6em;
}

#menu>ul>li {
  font-size: 2.4em;
  flex: 1;
  height:100%;
}

#menu>ul>li:first-child {
  display: none;
}
#menu>ul>li>a {font-family: 'Orbitron', sans-serif;} 

#menu>ul>li>a, #menu>ul>li>i {  
  display: flex; 
  align-items: center; 
  justify-content: center;
  width: 100%;
  height: 100%;
}

#menu img { width: 17% }

#menu>ul>li:hover {
  transition: 00.5s;
  background-color: rgb(32, 32, 32);}

#hero { padding-top: 6em; }

/**********ABOUT**********/
#contenedor{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.5em;
}

#img-container > img{
  border-radius: 1em;
  max-width: 22em;
}

#text-container
{
  text-align: justify;
}

/********PROYECTOS************/
.proyecto {
  margin: 2em auto; 
}
.proyecto figure img {
  height: 100%;
  object-fit: cover;
  position: absolute;
}
.proyecto figure {
  max-width: 1500px;
  height: 400px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  border-radius: 1em;

}
.proyecto figure figcaption {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  transition: 0.5s;
  opacity: 0;
}
.proyecto figure figcaption p {
  text-align: center;
  margin: 1em auto;
}
.proyecto figure:hover figcaption {
  opacity: 1;
}

.content {
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #1d1d1d;
  border-radius: 0em 0em 1em 1em;

  max-height: 0;
  max-width: 1500px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.content p {
  margin: 1em 1.5em;
  margin-bottom: 0;
}

.content iframe { margin: 2em 0; }

.content i { font-size: 12em; }

.content > a > p { 
  text-align: center; 
  margin: 0;
}

/*****************CONTACT*************************/
#contact_list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
}

#contact_list li {
  flex: 20%;
  text-align: center;
  padding: 1em;
}

#contact_list p { text-align: center; }
#contact_list i { 
  font-size: 10em; 
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}
.contact_info { font-size: 0.7em; }

/*****************FOOTER*************************/
footer p{ 
  text-align: center;
  font-size: 0.8em;
}






/*****************RESOLUTIONS*************************/
@media screen and (max-width: 1200px) {
/* Smaller menu, column containers */
  #menu>ul>li {
    font-size: 1.6em;
  }

  #contact_list li { flex: 40%; }
  #contenedor { flex-direction: column;}

}
@media screen and (max-width: 720px) {
  #menu>ul {
    flex-direction: column;
    text-align: center;
    height: auto;
  }
  #menu>ul>li { 
    background-color: rgba(13,13,13, 0.7);
    flex: auto;
    height: 4em;
  }

  #menu>ul>li:first-child {
    display: block;
  }

  #menu>ul>li:not(:first-child) {
  }

  #menu>ul>li>a>img {
    width: 10%;
  }

  #contact_list li { flex: 90%; }
  #contact_list li i{ font-size: 3em;}

  section > div{padding: 1em 1em;} 

}



